<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<form>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
    [(ngModel)]='email'>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" [(ngModel)]='password'>
  </div>
  <div>
    <button type="submit" class="btn btn-primary" (click)="onLogin()">Submit</button>
  </div>
  <br>
  <div>
    <p>
      <button type="submit" class="btn btn-secondary" (click)="onSignUp()">Create a new one</button>
    </p>
  </div>
</form>
