div{
  font-size: 30px;
}
.navstyle{
  background-color: blueviolet;
  height: 10%;
}

.questionpane{
text-align: center;
width: 100%;
}
.optionspane{
  text-align: center;
  width: 100%;
}
.option{
  position: sticky;
  text-align: center;
  float: left;
  width: 50%;
}

#submitBtn{
  margin-left: 43%;
  font-size: x-large;
}
