<nav class="navstyle">
</nav>
<div>
  <div class="questionpane">
    {{ question}}
  </div>
  <div class="optionpane">
    <div class="option">
      <input type="radio" name="optval" id="" value="" placeholder="">{{question}}
    </div>
    <div class="option">
      <input type="radio" name="optval" id="" [(ngModel)]="option1">
    </div>
    <div class="option">
      <input type="radio" name="optval" id="" [(ngModel)]="option2">
    </div>
    <div class="option">
      <input type="radio" name="optval" id="" [(ngModel)]="option3">
    </div>
    <div class="option">
      <input type="radio" name="optval" id="" [(ngModel)]="option4">
    </div>
  </div>
  <div><input type="button" value="Next Question" id="submitBtn" (click)='nxtQuestion()'></div>
</div>
