<app-navbar></app-navbar>
<div mat-card>

  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow=""
      aria-valuemin="0" aria-valuemax="100" [style.width.%]="((qsvc.qnProgress)/qsvc.qnTotal)*100"></div>
  </div>
  <div class="questionpane">
    <div class="card-header">
      <h1>
        <span class="badge badge-primary">{{ qsvc.qnProgress+1 }} </span>
      </h1>
      <h1 class="badge badge-primary">
        {{qsvc.displayTimeElapsed()}}
      </h1>
      <h3> {{ qsvc.qns[ qsvc.qnProgress].Qn }} </h3>
      <!-- <div *ngIf="qsvc.qns[qsvc.qnProgress].ImageName!=null">
    <img [src]="" alt="" class="center">
  </div> -->
    </div>
    <!-- <div class="card-body"> //running code

      <div class="list-group">
        <ng-container *ngFor="let option of qsvc.qns[qsvc.qnProgress].Options;let i=index">
          <li *ngIf="option != null" class="list-group-item list-group-item-action"
            (click)="Answer(qsvc.qns[qsvc.qnProgress],option)">
            {{option}}
          </li>
        </ng-container>
      </div>

    </div> -->

    <div class="card-body">

      <div class="list-group">
        <ng-container >
          <li *ngIf="qsvc.qns[qsvc.qnProgress].Options[0] != null" class="list-group-item list-group-item-action">
            {{qsvc.qns[qsvc.qnProgress].Options[0]}}
          </li>
        </ng-container>
        <ng-container >
          <li *ngIf="qsvc.qns[qsvc.qnProgress].Options[1] != null" class="list-group-item list-group-item-action" (click)='setChoice(qsvc.qns[qsvc.qnProgress].Options[1])'>
            {{qsvc.qns[qsvc.qnProgress].Options[1]}}
          </li>
        </ng-container>
         <ng-container >
          <li *ngIf="qsvc.qns[qsvc.qnProgress].Options[2] != null" class="list-group-item list-group-item-action" (click)='setChoice(qsvc.qns[qsvc.qnProgress].Options[2])'>
            {{qsvc.qns[qsvc.qnProgress].Options[2]}}
          </li>
        </ng-container>

        <ng-container >
          <li *ngIf="qsvc.qns[qsvc.qnProgress].Options[3] != null" class="list-group-item list-group-item-action" (click)='setChoice(qsvc.qns[qsvc.qnProgress].Options[3])'>
            {{qsvc.qns[qsvc.qnProgress].Options[3]}}
          </li>
        </ng-container>

      </div>

      <mat-card-actions>
        <button mat-raised-button (click)='Answer()'>
          Next Question
        </button>
      </mat-card-actions>

    </div>



  </div>





  <!--

<div class="row" *ngIf="qsvc.qns">

<div class="col s7 offset-s2">

<div class="card-content white-text">
<span class="card-title">{{ qsvc.qnProgress+1 }}</span>
<p>{{ qsvc.qns[ qsvc.qnProgress].Qn }}</p>
<div *ngIf="qsvc.qns[qsvc.qnProgress].ImageName!=null">
  <img [src]="" alt="" class="center">
</div>
</div>
<div class="card-action">
  <ul class="collection answer">
    <ng-container *ngFor="let option of qsvc.qns[qsvc.qnProgress].Options;let i=index">
      <li *ngIf="option != null" class="collection-item" (click)="Answer(qsvc.qns[qsvc.qnProgress])">
        {{option}}
      </li>
    </ng-container>
  </ul>
</div>
</div>

</div> -->
