.navstyle{
  background-color: blueviolet;
  height: 10%;
}

.questionpane{
text-align: center;
width: 100%;
}

.optionspane{
  text-align: center;
  width: 100%;
}

.option{
  text-align: center;
  float: left;
  width: 50%;
}
