
  <mat-form-field>
    <mat-label>Choose Level</mat-label>
    <mat-select>
      <mat-option value="1" [(ngModel)]='level' name="level">
        Easy
      </mat-option>
      <mat-option value="2" [(ngModel)]='level' name="level">
        Moderate
      </mat-option>
      <mat-option value="3" [(ngModel)]='level' name="level">
        Hard
      </mat-option>
      <mat-option value="4" [(ngModel)]='level' name="level">
        All
      </mat-option>
    </mat-select>
  </mat-form-field>

  
