
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<form  (ngSubmit)="onRegister()" #form="ngForm">
  <div class="form-group">
    <label for="inputEmail4">Name</label>
    <input name="name" type="text" class="form-control" id="inputName" [(ngModel)]='name' required>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputEmail4">Email</label>
      <input name="email" type="email" pattern="^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*
      @[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$;" class="form-control" id="inputEmail" [(ngModel)]='email' required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputPassword1">Password</label>
      <input name="password" type="password" class="form-control" id="inputPassword1" [(ngModel)]='password' required>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label for="inputPassword4">Confirm Password</label>
      <input name="cpassword" type="password" class="form-control" id="inputPassword2" [(ngModel)]='cpassword' required>
    </div>
  </div>
  
  <div class="form-row">
  <div class="form-group">
      <label for="inputMobileNo">Mobile Number</label>
      <input name="name" type="text" pattern="" class="form-control" id="inputMobile" maxlength="10" [(ngModel)]='mobile'>
    </div>
  </div>
  <div class="form-row">
    <button type="submit" class="btn btn-secondary">Create a new one</button>
  </div>
  </form>

